li {
  list-style: none;
  }
  .box {
  background-color: blue;
  height: 100px;
  width: 1000px;
    display: flex ;
    flex-direction: row;
    justify-content:space-between;
  }
  .child {
      width: 100px;
      height: 100px;
        background-color: burlywood;
      border: 3px solid rebeccapurple;
      }
      img {
        width: 150px;  
        height: auto; 
        justify-content: space-around; 
        padding: 20px;
    }