li {
  list-style: none;
  }
  .box {
  background-color: rgba(128, 0, 128, 0.889);
  height: 1000px;
  width: 1000px;
    display: flex ;
    flex-direction: row;
    justify-content:space-between;
  }
  .child {
      width: 100px;
      height: 100px;
        background-color: rgb(35, 185, 72);
      border: 1px solid 
        rgb(251, 2, 97);
      }
      img {
        width: 100px;  
        height: auto; 
        justify-content: space-around; 
    }